h1
{color:cornflowerblue;
}

h2
{color:coral;
}

.blinking{
    animation:blinkingText 1.2s infinite;
}
@keyframes blinkingText{
    0%{     color:cornflowerblue;    }
    49%{    color:cornflowerblue; }
    60%{    color: transparent; }
    99%{    color:transparent;  }
    100%{    color:cornflowerblue;}
}
